  #green-ivy-on-wall-background {
    opacity: 0.4;
    position: absolute;
    width: 1103px;
    height: 1655px;
    left: -337px;
    overflow: visible;
  }
  #Rectangle_1 {
    fill: rgba(210,245,192,1);
  }
  .Rectangle_1 {
    position: absolute;
    overflow: visible;
    width: 428px;
    height: 207px;
    top: 1541px;
  }
  #Rectangle_1458 {
    fill: transparent;
  }
  .Rectangle_1458 {
    position: absolute;
    overflow: visible;
    width: 8px;
    height: 8px;
  }

  #Rectangle_1457 {
    fill: transparent;
  }
  .Rectangle_1457 {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 40px;
  }

  #n_5_Evans_Way_Boston_MA_02115_ {
    left: 16px;
    top: 1569px;
    position: absolute;
    overflow: visible;
    width: 169px;
    line-height: 24px;
    margin-top: 0px;
    text-align: left;
    font-family: Palatino;
    font-size: 17px;
    color: rgba(112,112,112,1);
  }
  #Home_Plan_Your_visit_The_Art_A {
    left: 276px;
    top: 1570px;
    position: absolute;
    overflow: visible;
    width: 136px;
    white-space: nowrap;
    line-height: 20px;
    text-align: right;
    font-family: Palatino;
    font-size: 17px;
    color: rgba(112,112,112,1);
  }
  #Rectangle_2 {
    opacity: 0.75;
    fill: rgba(255,255,255,1);
  }
  .Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 177px;
    height: 173px;
    left: 219px;
    top: 1348px;
  }
  #Blackburn_1764 {
    left: 248px;
    top: 1399px;
    position: absolute;
    overflow: visible;
    width: 121px;
    white-space: nowrap;
    text-align: left;
    font-family: Palatino;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    color: rgba(112,112,112,1);
  }
  #Object_information_is_continua {
    left: 220px;
    top: 1424px;
    position: absolute;
    overflow: visible;
    width: 176px;
    height: 91px;
    text-align: center;
    font-family: Palatino;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(112,112,112,1);
  }
  #A_Lady_of_The_Russell_Family {
    left: 245px;
    top: 1352px;
    position: absolute;
    overflow: visible;
    width: 127px;
    white-space: nowrap;
    line-height: 22px;
    margin-top: -1.5px;
    text-align: left;
    font-family: ITC Avant Garde Gothic Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    color: rgba(112,112,112,1);
    text-decoration: underline;
  }
  #RussellFamily {
    position: absolute;
    width: 172px;
    height: 172px;
    left: 36px;
    top: 1348px;
    overflow: visible;
  }
  #Rectangle_3 {
    opacity: 0.75;
    fill: rgba(255,255,255,1);
  }
  .Rectangle_3 {
    position: absolute;
    overflow: visible;
    width: 177px;
    height: 172px;
    left: 219px;
    top: 1145px;
  }
  #Bunker_had_been_experimenting_ {
    left: 223px;
    top: 1227px;
    position: absolute;
    overflow: visible;
    width: 170px;
    height: 76px;
    text-align: center;
    font-family: Palatino;
    font-size: 15px;
    color: rgba(112,112,112,1);
  }
  #Miller_Bunker_1888 {
    left: 234px;
    top: 1193px;
    position: absolute;
    overflow: visible;
    width: 148px;
    white-space: nowrap;
    text-align: left;
    font-family: Palatino;
    font-style: italic;
    font-size: 18px;
    color: rgba(112,112,112,1);
  }
  #Chrysanthemums {
    left: 226px;
    top: 1160px;
    position: absolute;
    overflow: visible;
    width: 164px;
    line-height: 22px;
    margin-top: -1.5px;
    text-align: left;
    font-family: ITC Avant Garde Gothic Pro;
    font-size: 19px;
    color: rgba(112,112,112,1);
    text-decoration: underline;
  }
  #Flowers {
    position: absolute;
    width: 172px;
    height: 172px;
    left: 36px;
    top: 1145px;
    overflow: visible;
  }
  #Rectangle_4 {
    opacity: 0.75;
    fill: rgba(255,255,255,1);
  }
  .Rectangle_4 {
    position: absolute;
    overflow: visible;
    width: 177px;
    height: 176px;
    left: 218px;
    top: 942px;
  }
  #American_collectors_idolized_V {
    left: 220px;
    top: 1021px;
    position: absolute;
    overflow: visible;
    width: 176px;
    height: 91px;
    text-align: center;
    font-family: Palatino;
    font-size: 15px;
    color: rgba(112,112,112,1);
  }
  #Titian_1562 {
    left: 262px;
    top: 996px;
    position: absolute;
    overflow: visible;
    width: 90px;
    white-space: nowrap;
    text-align: left;
    font-family: Palatino;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    color: rgba(112,112,112,1);
  }
  #The_Coronation_of_Hebe {
    left: 235px;
    top: 948px;
    position: absolute;
    overflow: visible;
    width: 145px;
    white-space: nowrap;
    line-height: 22px;
    margin-top: -1.5px;
    text-align: center;
    font-family: ITC Avant Garde Gothic Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    color: rgba(112,112,112,1);
    text-decoration: underline;
  }
  #Paolo_Veronese_-_The_Coronatio {
    position: absolute;
    width: 172px;
    height: 172px;
    left: 36px;
    top: 942px;
    overflow: visible;
  }
  #Rectangle_1458_be {
    opacity: 0.75;
    fill: rgba(255,255,255,1);
  }
  .Rectangle_1458_be {
    position: absolute;
    overflow: visible;
    width: 177px;
    height: 172px;
    left: 218px;
    top: 735px;
  }
  #Titians_Rape_of_Europa_painted {
    left: 219px;
    top: 816px;
    position: absolute;
    overflow: visible;
    width: 176px;
    height: 77px;
    text-align: center;
    font-family: Palatino;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(112,112,112,1);
  }
  #Titian_1562_bg {
    left: 262px;
    top: 782px;
    position: absolute;
    overflow: visible;
    width: 90px;
    white-space: nowrap;
    text-align: left;
    font-family: Palatino;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    color: rgba(112,112,112,1);
  }
  #The_Rape_of_Europa {
    left: 219px;
    top: 750px;
    position: absolute;
    overflow: visible;
    width: 175px;
    white-space: nowrap;
    text-align: left;
    font-family: ITC Avant Garde Gothic Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(112,112,112,1);
    text-decoration: underline;
  }
  #Europa {
    position: absolute;
    width: 172px;
    height: 172px;
    left: 34px;
    top: 735px;
    overflow: visible;
  }
  #Rectangle_4 {
    opacity: 0.75;
    fill: rgba(255,255,255,1);
  }
  .Rectangle_4 {
    position: absolute;
    overflow: visible;
    width: 184px;
    height: 175px;
    left: 218px;
    top: 536px;
  }
  #Fashion_and_art_found_remarkab {
    left: 225px;
    top: 628px;
    position: absolute;
    overflow: visible;
    width: 172px;
    height: 63px;
    text-align: center;
    font-family: Palatino;
    font-size: 15px;
    color: rgba(112,112,112,1);
  }
  #Van_Dyck_1639 {
    left: 252px;
    top: 594px;
    position: absolute;
    overflow: visible;
    width: 118px;
    white-space: nowrap;
    text-align: left;
    font-family: Palatino;
    font-style: italic;
    font-size: 18px;
    color: rgba(112,112,112,1);
  }
  #Woman_with_a_Rose {
    left: 223px;
    top: 556px;
    position: absolute;
    overflow: visible;
    width: 175px;
    text-align: left;
    font-family: ITC Avant Garde Gothic Pro;
    font-size: 18px;
    color: rgba(112,112,112,1);
    text-decoration: underline;
  }
  #Rose {
    position: absolute;
    width: 172px;
    height: 172px;
    left: 35px;
    top: 536px;
    overflow: visible;
  }
  #Rectangle_5 {
    opacity: 0.75;
    fill: rgba(255,255,255,1);
  }
  .Rectangle_5 {
    position: absolute;
    overflow: visible;
    width: 177px;
    height: 172px;
    left: 219px;
    top: 333px;
  }
  #Although_this_portrait_was_pai {
    left: 223px;
    top: 409px;
    position: absolute;
    overflow: visible;
    width: 171px;
    height: 83px;
    text-align: center;
    font-family: Palatino;
    font-size: 15px;
  }
  #Antonis_Mor_1571_ {
    left: 236px;
    top: 377px;
    position: absolute;
    overflow: visible;
    width: 145px;
    text-align: left;
    font-family: Palatino;
    font-style: italic;
    font-size: 18px;
    color: rgba(112,112,112,1);
  }
  #Mary_1_of_England {
    left: 222px;
    top: 347px;
    position: absolute;
    overflow: visible;
    width: 173px;
    text-align: left;
    font-family: ITC Avant Garde Gothic Pro;
    font-size: 19px;
    color: rgba(112,112,112,1);
    text-decoration: underline;
  }
  #Mary {
    position: absolute;
    width: 172px;
    height: 172px;
    left: 36px;
    top: 333px;
    overflow: visible;
  }
  #Rectangle {
    opacity: 0.75;   fill: rgba(255,255,255,1);
 
  }
  .Rectangle {
    position: absolute;
    overflow: visible;
    width: 172px;
    height: 172px;
    left: 220px;
    top: 130px;
  }
  #Giovanni_Bellini_1510 {
    left: 223px;
    top: 180px;
    position: absolute;
    overflow: visible;
    width: 167px;
    white-space: nowrap;
    text-align: left;
    font-family: Palatino;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
  }
  #When_the_Museum_purchased_this {
    left: 221px;
    top: 207px;
    position: absolute;
    overflow: visible;
    width: 171px;
    height: 92px;
    text-align: center;
    font-family: Palatino;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
  }
  #Christ_carrying_the_Cross {
    left: 238px;
    top: 134px;
    position: absolute;
    overflow: visible;
    width: 137px;
    line-height: 22px;
    margin-top: -1.5px;
    text-align: center;
    font-family: ITC Avant Garde Gothic Pro;
    font-size: 19px;
  
    text-decoration: underline;
  }
  #Cross {
    position: absolute;
    width: 172px;
    height: 172px;
    left: 37px;
    top: 130px;
    overflow: visible;
  }
  
  #Filter {
    left: 338px;
    top: 75px;
    position: absolute;
    overflow: visible;
    width: 54px;
    text-align: left;
    font-family: ITC Avant Garde Gothic Pro;
    font-size: 24px;
    color: rgba(112,112,112,1);
    text-decoration: underline;
  }
 
  #Rectangle_1446 {
    fill: transparent;
  }
  .Rectangle_1446 {
    position: absolute;
    overflow: visible;
    width: 35px;
    height: 35px;
  }
  #logo {
    position: absolute;
    width: 177px;
    height: 46px;
    left: 126px;
    top: 4px;
    overflow: visible;
  }
